{% extends 'admin/base.html.twig' %}

{% block title %}Administration des annonces{% endblock %}

{% block body %}
    <div class="container">
        <h1 class="text-center my-5">Gestion des annonces</h1>
        <table class="table table-striped text-center align-content-center">
            <thead>
            <tr>
                <th>Id</th>
                <th>Titre</th>
                <th>Auteur</th>
                <th>Réservations</th>
                <th>Note</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            {% for ad in ads %}
                <tr>
                    <td>{{ ad.id }}</td>
                    <td>{{ ad.title }}</td>
                    <td>{{ ad.author.fullName }}</td>
                    <td><span class="badge badge-primary rounded"><strong>{{ ad.bookings | length }}</strong></span></td>
                    <td><span class="badge badge-primary rounded"><strong>{{ ad.avgRatings | number_format(1, ',', ' ') }}</strong></span></td>
                    <td>
                        <a href="{{ path('admin_ads_edit', { "id": ad.id, "slug": ad.slug }) }}" class="btn btn-primary"><i class="fas fa-edit"></i></a>
                        <form method="post" action="{{ path('admin_ads_delete', { "id": ad.id, "slug": ad.slug }) }}" style="display: inline-block;" onsubmit="return confirm(`Confirmez-vous la suppression de l'annonce {{ ad.title }} ?`)">
                            <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ ad.slug) }}">
                            <button class="btn btn-danger"><i class="fas fa-trash"></i></button>
                        </form>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
