{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ encore_entry_link_tags('datepickercss') }}
{% endblock %}

{% block title %}Réserver l'annonce : {{ ad.title }}{% endblock %}

{% block body %}
    <div class="container">
        <h1 class="h2 my-5 text-center">Réserver pour l'annonce {{ ad.title }}</h1>
        <p>Vous êtes sur le point de réserver le bien de <strong>{{ ad.author.fullName }}</strong></p>

        {{ form_start(form) }}
        <div class="alert alert-light">
            <h2 class="h4 my-5 text-center">Commencez par indiquer vos dates</h2>
            <div id="bookingJourney" class="row"
                 data-booking-notavailabledays="{{ ad.notAvailableDays | map((elem) => elem | date('d/m/Y')) | json_encode }}"
                 data-booking-price="{{ ad.price }}"
            >
                <div class="col">
                    {{ form_row(form.startDate) }}
                </div>
                <div class="col">
                    {{ form_row(form.endDate) }}
                </div>
            </div>

            <h3 class="mt-3">Montant du séjour : <span id="amount">...</span>€</h3>
            <span id="days">0</span> jour(s) à {{ ad.price | number_format(2, ',', ' ') }}€ par nuit

            <hr>
            {{ form_row(form.comment) }}
        </div>

        <button type="submit" class="btn btn-success">Réserver</button>

        {{ form_end(form) }}
    </div>
{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('datepickerjs') }}
    {{ encore_entry_script_tags('booking') }}
{% endblock %}
