<!DOCTYPE html>
<html lang="fr" class="h-100">
    <head>
        <meta charset="UTF-8">
        <title>SymBnB - {% block title %}Accueil{% endblock %}</title>
        <meta name="viewport" content="width=device-width, user-scalable=no">
{#        <link rel="stylesheet" href="{{ asset('css/bootstrap-4-4-1.min.css') }}">#}
{#        <link rel="stylesheet" href="{{ asset('css/bootswatch.min.css') }}">#}
        <link rel="stylesheet" href="{{ asset('build/css/main.css') }}">
        {% block stylesheets %}{% endblock %}
    </head>
    <body class="d-flex flex-column h-100">
        {% include 'partials/header.html.twig' %}

        {% block body %}{% endblock %}

        {% include 'partials/footer.html.twig' %}

        <script src="{{ asset('js/jquery-3-4-1.min.js') }}"></script>
        <script src="{{ asset('js/popper-1-16-0.min.js') }}"></script>
        <script src="{{ asset('js/bootstrap-4-4-1.min.js') }}"></script>
        <script src="https://kit.fontawesome.com/2a172cacbc.js" crossorigin="anonymous"></script>
        {% block javascripts %}{% endblock %}
    </body>
</html>
