{% extends 'base.html.twig' %}

{% block body %}
    <div class="container mt-3">
        <div class="jumbotron">
            <h1 class="display-3 text-center">Bienvenue sur SymBnB !</h1>
            <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
            <hr class="my-4">
            <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
            <p class="lead">
                <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
            </p>
        </div>

        <h2 class="h1 text-center mt-5">Nos meilleures annonces</h2>
        <div class="row mt-4">
            {% for data in ads %}
                {% include 'ad/_ad.html.twig' with { "ad":  data.annonce } %}
            {% endfor %}
        </div>

        <h2 class="h1 text-center mt-5">Nos meilleurs membres</h2>
        <div class="row mt-4">
            {% for data in users %}
                {% set user = data.user %}
                <div class="col">
                    <div class="card border-secondary mb-3">
                        <div class="card-body">
                            <h3 class="card-title">
                                {{ user.fullName }}
                            </h3>
                            <hr>
                            <div class="card-text">

                                {% if user %}
                                    <img src="{{ vich_uploader_asset(user, 'pictureFile')}}" class="float-left mr-3 w-25" alt="avatar">
                                {% else %}
                                    <img src=" {{ asset('/images/empty-avatar.png') }}" class="float-left mr-3 w-25" alt="default">
                                {% endif %}

                                <p>{{ user.introduction }}</p>
                                <a href="{{ path('user_show', { "slug": user.slug }) }}" class="btn btn-success float-right">En savoir plus</a>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
