{% block _ad_images_widget %}
    <p>Ajouter des images supplémentaires</p>
    {{ form_widget(form) }}

{#    <input type="hidden" id="widgets-counter" value="0">#}

    <div class="form-group">
        <button type="button" id="add-image" class="btn btn-primary"><i class="fas fa-plus"></i> Ajouter une image</button>
    </div>
{% endblock %}

{% block _ad_images_entry_row %}
    {{ form_widget(form) }}
{% endblock %}

{% block _ad_images_entry_widget %}
    <div class="form-group" id="block_{{ id }}">
        <div class="row gallery-element">
            <div class="col-10">
                <div class="row">
                    <div class="col-8">
                        {{ form_widget(form.caption) }}
                    </div>
                    <div class="col-4">
                        {{ form_widget(form.urlFile) }}

{#                        {{ dump(form) }}#}

{#                        {% if form.vars.data.imageFilename %}#}
{#                            <img src="{{ asset(articleForm.vars.data.imagePath) }}" height="100">#}
{#                        {% endif %}#}

                        {#{{ form.url.vars.value }}#}
                    </div>
                </div>
            </div>
            <div class="col-2">
                <button type="button" data-action="delete" data-target="#block_{{ id }}" class="btn btn-danger"><i class="far fa-trash-alt"></i></button>
            </div>
        </div>
    </div>
{% endblock %}
